<form action="/articles" method="POST">
<p>Article's Title: <input type="text" name="title"></p>
<p>Article's Content: <input type="text" name="content"></p>
<input type="submit" value="submit">
</form>